<h2>Register your SmartContract</h2>
<form>
  <div class="form-group">
    <label for="host">Host</label>
    <input type="text" class="form-control" id="host" placeholder="Enter Host" [(ngModel)]="contract.host" name="host">
  </div>
  <div class="form-group">
    <label for="netwerkid">NetwerkId</label>
    <input type="text" class="form-control" id="netwerkid" placeholder="Enter NetwerkId" [(ngModel)]="contract.netwerkid"
           name="netwerkid">
  </div>
  <div class="form-group">
    <label for="smartContractAddress">SmartContractAddress</label>
    <input type="text" class="form-control" id="smartContractAddress" placeholder="Enter SmartContractAddress"
           [(ngModel)]="contract.smartContractAddress" name="smartContractAddress">
  </div>
  <div class="form-group">
    <label for="smartContractABI">SmartContractAbi</label>
    <textarea type="text" rows="10" class="form-control" id="smartContractABI" placeholder="Enter SmartContractAbi"
              [(ngModel)]="contract.smartContractAbi" name="smartContractAbi"></textarea>
  </div>
  <div class="form-group">
    <label for="smartContractBIN">SmartContractBin</label>
    <textarea type="text" rows="10" class="form-control" id="smartContractBIN" placeholder="Enter SmartContractBin"
              [(ngModel)]="contract.smartContractBin" name="smartContractBin"></textarea>
  </div>



  <p-table [value]="oracles" [styleClass]="'table-striped table-hover'">
    <ng-template pTemplate="header">
      <tr>
        <th width="30px"><input type="checkbox" title="{{checkall? 'Uncheck': 'Check'}} all" (click)="checkAll()" [(ngModel)]="checkall" name="checkall"></th>
        <th width="30px">#</th>
        <th>Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-contract let-rowIndex="rowIndex">
      <tr>
        <td><input type="checkbox" [(ngModel)]="indexes[rowIndex].checked" name="indexes[rowIndex].checked"></td>
        <td>{{contract.id}}</td>
        <td>{{contract.name}}</td>
      </tr>
    </ng-template>
  </p-table>

  <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
</form>

